@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="fixedTopRight" href="New">Add a Chef</a>
    <h1 class="display-4">Chefs |  <a href="Dishes">Dishes</a> </h1> 
</div>
<h3 class="indented">Check out our roster of Chefs!</h3>
<div class="line indented"></div>

@model IEnumerable<Chef>
<div class="wrapper">
<table class="table table-striped">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col"># of Dishes</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var chef in Model)
      {
        <tr>
        <td>@chef.FirstName @chef.LastName</td>
        <td>@chef.Age</td>
        <td>@chef.CreatedDishes.Count</td>
        </tr>

      }
  </tbody>
</table>
</div>
